@import "tailwindcss";


@font-face {
  font-family: "Druk";
  src: url("/public/fonts/Druk/Druk-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk";
  src: url("/public/fonts/Druk/Druk-MediumItalic-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk";
  src: url("/public/fonts/Druk/Druk-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk";
  src: url("/public/fonts/Druk/Druk-BoldItalic-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk";
  src: url("/public/fonts/Druk/Druk-Heavy-Trial.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk";
  src: url("/public/fonts/Druk/Druk-HeavyItalic-Trial.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk";
  src: url("/public/fonts/Druk/Druk-Super-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk";
  src: url("/public/fonts/Druk/Druk-SuperItalic-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


:root {
  --druk: "Druk", sans-serif;

  --nor-primary: #13afe3;
  --nor-secondary: #0a1624;
  --nor-light: #f8f8f9;
  --nor-dark: #001d23;

}


/* @tailwind css start */
@theme {
  --font-druk: var(--druk);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);

  --color-nor-primary: var(--nor-primary);
  --color-nor-secondary: var(--nor-secondary);
  --color-nor-light: var(--nor-light);
  --color-nor-dark: var(--nor-dark);
  --color-nor-white: var(--nor-white);

}


/* @tailwind css end */

body,
html {
  margin: 0;
  padding: 0;
}


/* Srikaran css - start */